body {
    font-family: Arial, sans-serif;
    background-color: rgb(150, 17, 17);
}

#quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFD700;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
}

h1 {
    text-align: center;
    color: #333333;
}

#question {
    margin-bottom: 30px; /* Increased margin-bottom for more space */
}

#options {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(53, 237, 247, 0.8);
    color: #000080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00CED1;
}

/* Add styling for the selected class */
button.selected {
    background-color: #ADD8E6; /* Light blue for selected */
}


