<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>

      <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>
<body>
    <div class="directory">
        <ul>
          <li><a href="http://127.0.0.1:5000">Home</a></li>
          <li><a href="http://127.0.0.1:5000/image">Code</a></li>
          <li><a href="http://127.0.0.1:5000/pygwalker">Pygwalker</a></li>
          <li><a href="http://127.0.0.1:5000/quiz">Quiz</a></li>
        </ul>
      </div>
    <div>
        <img src="../static/img/API_Pull_code.png" alt="API Code Snippet" class="code-snippet">
    </div>
</body>
</html>