<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fast Food Quiz</title>
  <link rel="stylesheet" type="text/css" href="../static/css/quiz.css">
</head>
<body>
  <a href="http://127.0.0.1:5000">Home</a>
  <div id="quiz">
    <div class="logo-container">
      <img class="logo-left" src="../static/img/hamburger.png" alt="Left Logo">
      <h1>Fast Food Quiz</h1>
      <img class="logo-right" src="../static/img/soda.png" alt="Right Logo">
    </div>
    <div id="question"></div>
    <div id="options"></div>
    <div id="result-message"></div>
    <div id="answer-message"></div>
    <div id="fact-message"></div>
    <h6>Source Code by CodePicker</h6>
    <h6>This information is strictly for educational purposes and should not be used commerically.</h6>
  </div>

  <script src="../static/js/index.js"></script>
</body>
</html>
