/* Quiz CSS */

body {
    background-color: #FFD700;
}

#quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FFD700;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-left,
  .logo-right {
    max-height: 70px;
    margin: 0 10px;
  }
  
  h1 {
    text-align: justify;
    color: #333333;
    font-weight: bold;
  }
  
  #question {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px
  }
  
  #options {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(255,97,29);
    color: #813531;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00CED1;
  }
  
  /* Add styling for the selected class */
  button.selected {
    background-color: #ADD8E6; /* Light blue for selected */
  }
  #result-message,
  #answer-message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold; /* Set the default font weight */
  text-align: center;
  }
  
  #answer-message {
  font-style: italic;
  }
  
  #fact-message {
    margin-top: 10px;
    font-size: 20px;
    color: #813531;
    font-weight: bold; /* Set the fact font weight to bold */
    text-align: Left;
  }
  
  